html {
    height: 100%;
}

 body {
    background-image: url("https://s3.envato.com/files/102290904/01_background_with_red_curtain_and_wood_floor_and_screen2_t.jpg");
     height: 100%;
     background-position: center;
     background-size: cover;

}

button {
    margin: 10px;
}

form {
    text-align: center;
}

#actor-input {
    
    margin: auto;
}

label {
    font-weight: bold;
    font-size: 200%;
    color: black;

}

p {
    font-weight: bold;
    font-size: 200%;
    color: white; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

